.mainIndicator {
    width: 300px;
    height: 220px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.place {
    font-weight: 600;
    font-size: 22px;
    color: black;
}

.timezone {
    color: grey;
}

.middle {
    display: flex;
    justify-content: center;
}

.value {
    font-size: 32px;
    font-weight: 600;
    color: rgb(1, 1, 44);
}

.bottom {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.weather {
    font-style: italic;
    color: grey;
}

@media screen and (max-width: 1290px) {
    .mainIndicator {
        height: 180px;
        width: 220px;
        min-width: 220px;
    }

    .place {
        font-size: 12px;
    }

    .value {
        font-size: 22px;
    }

    .timezone {
        font-size: 12px;
    }

    .weather {
        font-size: 12px;
    }
}